<form action="" method="post">
<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12 lg-margin">

        <div class="tab-container left clearfix">
            <ul class="nav-tabs">
                <li class="active"><a href="#discount" data-toggle="tab">Дані</a></li>
                <li><a href="#shipping" data-toggle="tab">Доставка</a></li>
                <li><a href="#gift" data-toggle="tab">Побажання</a></li>

            </ul>
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="discount">
                    <p>Enter your discount coupon code here.</p>
                    <form action="#">
                        <label for="checkout_name" class="control-label">Імя&#42;</label>
                        <div class="input-group">
                            <input id="checkout_name" placeholder="Крушевська Оксана" type="text" name="name">
                        </div><!-- End .input-group -->
                        <label for="checkout_email" class="control-label">Email&#42;</label>
                        <div class="input-group">
                            <input id="checkout_email" required placeholder="xena-5@ukr.net" type="email" name="email">
                        </div><!-- End .input-group -->
                        <label for="checkout_tel" class="control-label">Телефон&#42;</label>
                        <div class="input-group">
                            <input id="checkout_tel" required type="text" name="tel" placeholder="063-147-92-64">
                        </div><!-- End .input-group -->
                    </form>
                </div><!-- End .tab-pane -->


                <div class="tab-pane " id="shipping">

                    <div id="shipping-form">
                        <p class="shipping-desc">Enter your destination to get a shipping estimate.</p>
                        <div class="form-group">
                            <label for="select-country" class="control-label">Місто&#42;</label>
                            <div class="input-container normal-selectbox">
                                <input name="town" required>
                            </div><!-- End .select-container -->
                        </div><!-- End .form-group -->
                        <div class="xss-margin"></div>
                        <div class="form-group">
                            <label for="select-state" class="control-label">Склад&#42;</label>
                            <div class="input-container normal-selectbox">
                                <input type="text" required name="number_storage">
                            </div>
                        </div><!-- End .form-group -->
                        <div class="xss-margin"></div>
                        {#<p class="text-right">#}
                        {#<input type="submit" class="btn btn-custom-2" value="GET QUOTES">#}
                        {#</p>#}
                    </div>

                </div>

                <div class="tab-pane" id="gift">
                    <textarea placeholder="Треба срочно, до першого вересня" name="message"></textarea>
                </div><!-- End .tab-pane -->

            </div><!-- End .tab-content -->
        </div><!-- End .tab-container -->

    </div><!-- End .col-md-8 -->

    <div class="col-md-4 col-sm-12 col-xs-12">

        <table class="table total-table">
            <tbody>
            <tr>
                <td class="total-table-title">Subtotal:</td>
                <td>{{ currency }}<span id="total_basket">{{ cart.total }}</span></td>
            </tr>
            <tr>
                <td class="total-table-title">Shipping:</td>
                <td>{{ currency }}<span id="shipping_total">{{ shipping }}</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Total:</td>
                <td>{{ currency }}<span id="total_all">{{ shipping+cart.total }}</span></td>
            </tr>
            </tfoot>
        </table>
        <div class="md-margin"></div><!-- End .space -->
        <a href="{{ route('site.cat.index') }}" class="btn btn-custom-2">CONTINUE SHOPPING</a>
        {{ crsf()|raw }}
        <input type="hidden" name="shipping" value="40">
        <button type="submit" class="btn btn-custom-2">Заказати</button>
    </div><!-- End .col-md-4 -->
</div><!-- End .row -->
</form>