<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}">
<!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Gudea:400,700,400italic%7CPT+Oswald:400,700,300' rel='stylesheet' id="googlefont">

<link rel="stylesheet" href="{{ assets("css/bootstrap.min.css") }}">
<link rel="stylesheet" href="{{ assets("css/font-awesome.min.css") }}">
<link rel="stylesheet" href="{{ assets("css/prettyPhoto.css") }}">
<link rel="stylesheet" href="{{ assets("css/revslider.css") }}">
<link rel="stylesheet" href="{{ assets("css/owl.carousel.css") }}">
<link rel="stylesheet" href="{{ assets("css/style.css") }}">
<link rel="stylesheet" href="{{ assets("css/responsive.css") }}">




<!-- Favicon and Apple Icons -->
<link rel="icon" type="image/png" href="{{ assets("images/icons/icon.png") }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ assets("images/icons/apple-icon-57x57.png") }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ assets("images/icons/apple-icon-72x72.png") }}">

<!--- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="public/js/jquery-1.11.1.min.js"><\/script>')</script>
<!--- Modernizr -->
<script src="{{ assets('js/modernizr.custom.js') }}"></script>
<!--[if lt IE 9]>
<script src='{{ assets("js/html5shiv.js") }}'></script>
<script src='{{ assets("js/respond.min.js") }}'></script>
<![endif]-->

<style id="custom-style"></style>