{% if show_tovars is defined and show_tovars == 'block' %}
        <div class="item item-list clearfix">
            <div class="item-image-container">
                <figure>
                    <a href="/tovar/{{ tovar.lid }}">
                        <img src="{{ assets("images/") }}/{{ tovar.img}}" alt="item1" class="item-image">
                        <img src="{{ assets("images/") }}/{{ tovar.img}}" alt="item1  Hover" class="item-image-hover">
                    </a>
                </figure>
                <div class="item-price-container">
                    {% if tovar.old_price %} <span class="old-price">{{ currency }}{{ tovar.old_price -1 }}<span
                            class="sub-price">.99</span></span>{% endif %}
                    <span class="item-price">{{ currency }}{{ tovar.price -1 }} <span
                                class="sub-price">.99</span></span>
                </div><!-- End .item-price-container -->
                {% if prod.newTovar(tovar.created) %}<span class="new-rect">New</span>{% endif %}
                {% if tovar.old_price  %}<span class="discount-rect">-{{ prod.action(tovar.old_price,tovar.price) }}%</span>{% endif %}
            </div><!-- End .item-image -->
            <div class="item-meta-container">
                <h3 class="item-name"><a href="/tovar/{{ tovar.lid }}">{{ tovar.name }}</a></h3>
                {% include 'site/layouts/starRating.html.twig' with {'id': tovar.lid,'star': tovar.avg} %}
                <p>{{ tovar.description }}</p>
                <div class="item-action">
                    <a href="#" data-id="{{ tovar.lid }}" data-price="{{ tovar.price }}" data-count="1" class="item-add-btn addToCart">
                        <span class="icon-cart-text">Add to Cart</span>
                    </a>
                    <div class="item-action-inner">
                        <a href="#" class="icon-button icon-like">Favourite</a>
                        <a href="#" class="icon-button icon-compare">Checkout</a>
                    </div><!-- End .item-action-inner -->
                </div><!-- End .item-action -->
            </div><!-- End .item-meta-container -->
        </div><!-- End .item -->
{% else %}
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="item item-hover">
        <div class="item-image-wrapper">
            <figure class="item-image-container">
                <a href="/tovar/{{ tovar.lid }}">
                    <img src="{{ prod.exitsImg(tovar.img) }}" alt="item1" class="item-image">
                    <img src="{{ prod.exitsImg(tovar.img) }}" alt="item1  Hover" class="item-image-hover">
                </a>
            </figure>
            <div class="item-price-container">
                {% if tovar.old_price %} <span class="old-price">{{ currency }}{{ tovar.old_price -1 }}<span
                        class="sub-price">.99</span></span>{% endif %}
                <span class="item-price">{{ currency }}{{ tovar.price -1 }} <span
                            class="sub-price">.99</span></span>
            </div><!-- End .item-price-container -->
            {% if prod.newTovar(tovar.created) %}<span class="new-rect">New</span>{% endif %}
            {% if tovar.old_price  %}<span class="discount-rect">-{{ prod.action(tovar.old_price,tovar.price) }}%</span>{% endif %}
        </div><!-- End .item-image-wrapper -->
        <div class="item-meta-container">

            {% include 'site/layouts/starRating.html.twig' with {'id': tovar.lid,'star': tovar.avg|default("0")} %}
            <h3 class="item-name"><a href="/tovar/{{ tovar.lid }}">{{ tovar.name }}</a>
            </h3>
            <div class="item-action">
                <a href="#" data-id="{{ tovar.lid }}" data-price="{{ tovar.price }}" data-count="1" class="item-add-btn addToCart">
                    <span class="icon-cart-text">Add to Cart</span>
                </a>
                <div class="item-action-inner">
                    <a href="#" class="icon-button icon-like">Favourite</a>
                    <a href="#" class="icon-button icon-compare">Checkout</a>
                </div><!-- End .item-action-inner -->
            </div><!-- End .item-action -->
        </div><!-- End .item-meta-container -->
    </div><!-- End .item -->
</div>
{% endif %}