<div id="category-header" class="category-header-slider">
    <div class="row">
        <div class="container">
            {% if randomActionTovar %}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="category-image-slider-container">
                    <div class="category-image-slider-shadow"></div>
                    <div class="discount-rect">-{{ prod.action(randomActionTovar.old_price,randomActionTovar.price) }}%</div>
                    <div class="category-image-slider flexslider">
                        <ul class="slides">
                            <li><a href="/tovar/{{ randomActionTovar.lid }}"><img
                                            src="{{ assets("images/") }}/{{ randomActionTovar.img }}"
                                            alt="{{ randomActionTovar.name }}"></a></li>
                            {% if randomActionTovar is defined %}
                                {% for image in galleryRandomActionTOovar %}
                                    <li><a href="/tovar/{{ randomActionTovar.lid }}"><img
                                                    src="{{ assets("images/") }}/{{ image.img }}"
                                                    alt="{{ randomActionTovar.name }}"></a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div><!-- End .category-image -->
                </div><!-- End .category-image-slider-container -->
            </div><!-- End .col-md-6 -->
            <div class="col-md-6 col-sm-6 col-xs-12 slider-banner-description">
                <div class="category-title">
                    <h2>{{ randomActionTovar.name }}</h2>
                    <div class="category-title-price">{{ currency }}{{ randomActionTovar.price }}</div>
                    <!-- End .category-title-price -->
                    <p>{{ randomActionTovar.name }}</p>
                    <a href="#" data-id="{{ randomActionTovar.lid }}" data-price="{{ randomActionTovar.price }}"
                       data-count="1" class="btn btn-custom-2 addToCart">
                        ADD TO CART
                    </a>
                </div><!-- End .category-title -->
            </div><!-- End .col-md-6 -->
            {% endif %}
        </div><!-- End .container -->
    </div><!-- End .row -->
</div><!-- End #category-header -->