{% extends "site/pages/index.html.twig" %}
{% block content %}
    <section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ul>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="content-title">
                <h1 class="title">Shopping Cart</h1>
                <p class="title-desc">Just this week, you can use the free premium delivery.</p>
            </header>
            <div class="xs-margin"></div><!-- space -->
            {% if basket|default(false) %}
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table cart-table" id="big_cart">
                        <thead>
                        <tr>
                            <th class="table-title">Product Name</th>
                            <th class="table-title">Product Code</th>
                            <th class="table-title">Unit Price</th>
                            <th class="table-title">Quantity</th>
                            <th class="table-title">SubTotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tovar in basket %}
                        <tr class="tovar_{{ tovar.lid }}">
                            <td class="item-name-col">
                                <figure>
                                    <a href="/tovar/{{ tovar.lid }}"><img src="{{ prod.exitsImg(tovar.img) }}" alt="{{ tovar.name }}"></a>
                                </figure>
                                <header class="item-name"><a href="/tovar/{{ tovar.lid }}">{{ tovar.name }}</a></header>
                                <ul>
                                    <li>Color: White</li>
                                    <li>Size: SM</li>
                                </ul>
                            </td>
                            <td class="item-code">#{{ tovar.id }}</td>
                            <td class="item-price-col"><span class="item-price-special">{{ currency }}<span class="price">{{ tovar.price }}</span> </span></td>
                            <td>
                                <div class="custom-quantity-input">
                                    <input type="text" name="quantity"  value="{{ tovar.count }}" data-cookie="true" data-id="{{ tovar.lid }}">
                                    <span  class="quantity-btn quantity-input-up"><i class="fa fa-angle-up"></i></span>
                                    <span class="quantity-btn quantity-input-down"><i class="fa fa-angle-down"></i></span>
                                </div>
                            </td>
                            <td class="item-total-col"><span class="item-price-special">{{ currency }}<span class="total_price_tovar">{{ tovar.price }}</span></span>
                                <a href="#" class="close-button deleteWithBasket" data-price="{{ tovar.price|default(0) }}" data-action="true" data-id="{{ tovar.lid }}"></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
            <div class="lg-margin"></div><!-- End .space -->
            {% include "site/pages/basket/part/checkout.html.twig" %}
            <div class="md-margin2x"></div><!-- Space -->
            {% else %}
                НЕМА НІЧОГО
            {% endif %}
            <div class="similiar-items-container carousel-wrapper">
                <div class="carousel-controls">
                    <div id="similiar-items-slider-prev" class="carousel-btn carousel-btn-prev"></div><!-- End .carousel-prev -->
                    <div id="similiar-items-slider-next" class="carousel-btn carousel-btn-next carousel-space"></div><!-- End .carousel-next -->
                </div><!-- End .carousel-controls -->
                {% include "site/pages/singleTovar/parts/sliderBottom.html.twig" %}
            </div><!-- End .purchased-items-container -->

        </div><!-- End .col-md-12 -->
    </div><!-- End .row -->
</div><!-- End .container -->
    </section>
{% endblock %}