{% extends "site/pages/index.html.twig" %}
{% block content %}
    <section id="content">
        {% if not hideSlider %}
        {% include "site/pages/cat/part/slider.html.twig" %}
        <div id="category-breadcrumb">
        {% else %}
        <div id="breadcrumb-container">
            {% endif %}
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Compare Products</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="row">

                        <div class="col-md-9 col-sm-8 col-xs-12 main-content">

                            <div class="category-toolbar clearfix">
                                <div class="toolbox-filter clearfix">

                                    <div class="sort-box">
                                        <span class="separator">sort by:</span>
                                        <div class="btn-group select-dropdown">
                                            <button type="button" class="btn select-btn">
                                                {{ helpers.getSelectFilter() }}
                                            </button>
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{{ helpers.getFilterUrl('cheap') }}">З дешевих</a></li>
                                                <li><a href="{{ helpers.getFilterUrl('expensive') }}">З дорогих</a></li>
                                                <li><a href="{{ helpers.getFilterUrl('rank') }}">По рейтингу</a></li>
                                                <li><a href="{{ helpers.getFilterUrl('action') }}">По акціям</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="view-box">
                                        <a href="{{ route('site.cat.index') }}/changeShowList/all" class="{% if session.catalog.list is defined %}{% if session.catalog.list == 'all'%} active {% endif %}{% else %} active {% endif %} icon-button icon-grid"><i
                                                    class="fa fa-th-large"></i></a>
                                        <a href="{{ route('site.cat.index') }}/changeShowList/block" class="{% if session.catalog.list is defined and session.catalog.list == 'block'%} active {% endif %} icon-button icon-list"><i
                                                    class="fa fa-th-list"></i></a>
                                    </div><!-- End .view-box -->

                                </div><!-- End .toolbox-filter -->
                                <div class="toolbox-pagination clearfix">

                                        {{ showPagination()|raw }}

                                    <div class="view-count-box">
                                        <span class="separator">view:</span>
                                        <div class="btn-group select-dropdown">
                                            <button type="button" class="btn select-btn">
                                                {% if session.catalog.view is defined %}
                                                    {{ session.catalog.view }}
                                                {% else %}
                                                    15
                                                {% endif %}
                                            </button>
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{{ route('site.cat.index') }}/changeView/15">15</a></li>
                                                <li><a href="{{ route('site.cat.index') }}/changeView/20">20</a></li>
                                                <li><a href="{{ route('site.cat.index') }}/changeView/30">30</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- End .view-count-box -->

                                </div><!-- End .toolbox-pagination -->


                            </div><!-- End .category-toolbar -->
                            <div class="md-margin"></div><!-- .space -->
                            <div class="category-item-container">
                                <div class="row">
                                    {% if show_tovars is defined and show_tovars == 'block' %}
                                    <div class="category-item-container category-list-container">
                                        {% for tovar in tovars %}
                                            {% include "site/layouts/tovar.html.twig" %}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {% for tovar in tovars %}
                                            {% include "site/layouts/tovar.html.twig" %}
                                        {% endfor %}
                                    {% endif %}
                                </div><!-- End .row -->
                            </div><!-- End .category-item-container -->

                            <div class="pagination-container clearfix">
                                <div class="pull-right">
                                    {{ showPagination()|raw }}
                                </div><!-- End .pull-right -->

                                <div class="pull-right view-count-box hidden-xs">
                                    <span class="separator">view:</span>
                                    <div class="btn-group select-dropdown">
                                        <button type="button" class="btn select-btn">
                                            {% if session.catalog.view is defined %}
                                                {{ session.catalog.view }}
                                            {% else %}
                                                15
                                            {% endif %}
                                        </button>
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ route('site.cat.index') }}/changeView/15">15</a></li>
                                            <li><a href="{{ route('site.cat.index') }}/changeView/20">20</a></li>
                                            <li><a href="{{ route('site.cat.index') }}/changeView/30">30</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- End pagination-container -->


                        </div><!-- End .col-md-9 -->

                        <aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
                            <div class="widget">
                                <div class="panel-group custom-accordion sm-accordion" id="category-filter">
                                    <div class="panel">
                                        <div class="accordion-header">
                                            <div class="accordion-title"><span>Category</span></div>
                                            <!-- End .accordion-title -->
                                            <a class="accordion-btn opened" data-toggle="collapse"
                                               data-target="#category-list-1"></a>
                                        </div><!-- End .accordion-header -->

                                        <div id="category-list-1" class="collapse in">
                                            <div class="panel-body">
                                                <ul class="category-filter-list jscrollpane">
                                                    {% for key in catalog_menu %}
                                                        {% if key.parent == 0 %}
                                                            <a href="{{ route('site.cat.index') }}={{ key.lid }}"
                                                               class="mega-menu-title">{{ key.name|title }}</a><!-- End .mega-menu-title -->
                                                            <ul style="margin-left:10px;"
                                                                class="mega-menu-list clearfix">
                                                                {% for sub in catalog_menu %}
                                                                    {% if key.lid == sub.parent %}
                                                                        <li>
                                                                            <a href="{{ route('site.cat.index') }}={{ sub.lid }}">{{ sub.name|title }}</a>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div><!-- End .panel-body -->
                                        </div><!-- #collapse -->
                                    </div><!-- End .panel -->

                                    <div class="panel">
                                        <div class="accordion-header">
                                            <div class="accordion-title"><span>Price</span></div>
                                            <!-- End .accordion-title -->
                                            <a class="accordion-btn opened" data-toggle="collapse"
                                               data-target="#category-list-3"></a>
                                        </div><!-- End .accordion-header -->

                                        <div id="category-list-3" class="collapse in">
                                            <div class="panel-body">
                                                <div id="price-range">

                                                </div><!-- End #price-range -->
                                                <form action="{{ urlPost }}" method="post">
                                                <div id="price-range-details">
                                                    <span class="sm-separator">from</span>
                                                    <input name="from" required type="text" id="price-range-low" class="separator">
                                                    <span class="sm-separator">to</span>
                                                    <input name="end" required type="text" id="price-range-high">
                                                </div>
                                                <div id="price-range-btns">
                                                    {{ crsf()|raw }}
                                                    <input type="submit" class="btn btn-custom-2 btn-sm" value="Ok">
                                                    <a href="#" id="clear_in_filter_price" class="btn btn-custom-2 btn-sm">Clear</a>
                                                </div>
                                                </form>
                                            </div><!-- End .panel-body -->
                                        </div><!-- #collapse -->
                                    </div><!-- End .panel -->


                                </div><!-- .panel-group -->
                            </div><!-- End .widget -->

                            {% include "site/pages/cat/part/slider-featured.html.twig" %}

                            <div class="widget banner-slider-container">
                                <div class="banner-slider flexslider">
                                    <ul class="banner-slider-list clearfix">
                                        <li><a href="#"><img src="images/banner1.jpg" alt="Banner 1"></a></li>
                                        <li><a href="#"><img src="images/banner2.jpg" alt="Banner 2"></a></li>
                                        <li><a href="#"><img src="images/banner3.jpg" alt="Banner 3"></a></li>
                                    </ul>
                                </div>
                            </div><!-- End .widget -->

                        </aside><!-- End .col-md-3 -->
                    </div><!-- End .row -->


                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

    </section><!-- End #content -->
{% endblock %}