{% if randomsTovar is defined %}
<div class="purchased-items-container carousel-wrapper">
    <header class="content-title">
        <div class="title-bg">
            <h2 class="title">Also Purchased</h2>
        </div><!-- End .title-bg -->
        <p class="title-desc">Note the similar products - after buying for more than $500 you can get a discount.</p>
    </header>
    <div class="carousel-controls">
        <div id="purchased-items-slider-prev" class="carousel-btn carousel-btn-prev"></div><!-- End .carousel-prev -->
        <div id="purchased-items-slider-next" class="carousel-btn carousel-btn-next carousel-space"></div><!-- End .carousel-next -->
    </div><!-- End .carousel-controllers -->
    <div class="purchased-items-slider owl-carousel">
        {% for tovar in randomsTovar %}
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="/tovar/{{ tovar.lid }}">
                            <img src="{{ assets("images/") }}/{{ tovar.img}}" alt="item1" class="item-image">
                            <img src="{{ assets("images/") }}/{{ tovar.img}}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        {% if tovar.old_price %} <span class="old-price">{{ currency }}{{ tovar.old_price -1 }}<span
                                class="sub-price">.99</span></span>{% endif %}
                        <span class="item-price">{{ currency }}{{ tovar.price -1 }} <span
                                    class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    {% if prod.newTovar(tovar.created) %}<span class="new-rect">New</span>{% endif %}
                    {% if tovar.old_price  %}<span class="discount-rect">-{{ prod.action(tovar.old_price,tovar.price) }}%</span>{% endif %}
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="80"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="/tovar/{{ tovar.lid }}">{{ tovar.name }}</a>
                    </h3>
                    <div class="item-action">
                        <a href="#" data-id="{{ tovar.lid }}" data-price="{{ tovar.price }}" data-count="1" class="item-add-btn addToCart">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        {% endfor %}
    </div><!--purchased-items-slider -->
</div><!-- End .purchased-items-container -->
{% endif %}