<div class="col-md-3 col-sm-12 col-xs-12 sidebar">
    <div class="widget related">
        <h3>Related</h3>
        <div class="related-slider flexslider sidebarslider">
            <ul class="related-list clearfix">
                {% for tovar in analogTovar %}
                        <li>
                            <div class="related-product clearfix">
                                <figure>
                                    <img src="{{ assets("images/") }}/{{ tovar.img }}"
                                         alt="{{ tovar.name }}">
                                </figure>
                                <h5><a href="/tovar/{{ tovar.lid }}">{{ tovar.name }}</a></h5>
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-result" data-result="84"></div>
                                    </div><!-- End .ratings -->
                                </div><!-- End .rating-container -->
                                <div class="related-price">{{ currency }}{{ tovar.price }}</div><!-- End .related-price -->
                            </div><!-- End .related-product -->
                        </li>
                {% endfor %}
            </ul>
        </div><!-- End .related-slider -->
    </div><!-- End .widget -->
</div>