<div id="products-tabs-content" class="row tab-content">
    <div class="tab-pane active" id="all">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item5.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item5-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$210<span class="sub-price">.99</span></span>
                        <span class="item-price">$160<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                    <span class="discount-rect">-15%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="80"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item6.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item6-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$199</span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="74"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        9 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item7.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item7-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$120<span class="sub-price">.99</span></span>
                        <span class="item-price">$99<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="discount-rect">-25%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="90"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        4 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item10.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item10-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$180<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">

                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item8.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item8-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$99<span class="sub-price">.99</span></span>
                        <span class="item-price">$84<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="discount-rect">-20%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="70"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                       6 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item9.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item9-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$49<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="60"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        2 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
    </div><!-- End .tab-pane -->

    <div class="tab-pane" id="latest">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item2.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item2-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$160<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="80"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item3.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item3-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$200</span>
                    </div><!-- End .item-price-container -->
                    <span class="discount-rect">-10%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="74"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        9 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item5.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item5-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$120<span class="sub-price">.99</span></span>
                        <span class="item-price">$99<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="96"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item3.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item3-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$99<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">

                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item7.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item7-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$99<span class="sub-price">.99</span></span>
                        <span class="item-price">$84<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="discount-rect">-30%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="70"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                       6 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item5.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item5-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$49<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="60"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        2 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
    </div><!-- End .tab-pane -->

    <div class="tab-pane" id="featured">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item1.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item1-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$210<span class="sub-price">.99</span></span>
                        <span class="item-price">$140<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                    <span class="discount-rect">-25%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="50"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        3 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item4.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item4-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$399</span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="100"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        7 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item8.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item8-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$120<span class="sub-price">.99</span></span>
                        <span class="item-price">$89<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="discount-rect">-35%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="50"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        2 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item10.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item10-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$180<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">

                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item6.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item6-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$99<span class="sub-price">.99</span></span>
                        <span class="item-price">$84<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="discount-rect">-20%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="70"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                       6 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item5.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item5-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$49<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="60"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        2 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
    </div><!-- End .tab-pane -->

    <div class="tab-pane" id="bestsellers">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item3.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item3-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$210<span class="sub-price">.99</span></span>
                        <span class="item-price">$160<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                    <span class="discount-rect">-15%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="80"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item4.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item4-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$199</span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="74"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        9 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item2.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item2-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$180<span class="sub-price">.99</span></span>
                        <span class="item-price">$99<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="discount-rect">-50%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="90"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        4 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item9.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item9-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$180<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">

                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item5.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item5-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$99<span class="sub-price">.99</span></span>
                        <span class="item-price">$84<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="discount-rect">-20%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="70"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                       6 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item3.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item3-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$99<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="60"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        2 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
    </div><!-- End .tab-pane -->

    <div class="tab-pane" id="special">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item2.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item2-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$210<span class="sub-price">.99</span></span>
                        <span class="item-price">$160<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                    <span class="discount-rect">-15%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="80"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item1.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item1-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$199</span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="74"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        9 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item4.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item4-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$120<span class="sub-price">.99</span></span>
                        <span class="item-price">$99<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="discount-rect">-25%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="90"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        4 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item10.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item10-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$180<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">

                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item6.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item6-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="old-price">$99<span class="sub-price">.99</span></span>
                        <span class="item-price">$84<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="discount-rect">-20%</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="70"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                       6 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item9.jpg") }}" alt="item1" class="item-image">
                            <img src="{{ assets("images/products/item9-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">$49<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="60"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        2 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">Phasellus consequat</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->

    </div><!-- End .tab-pane -->
</div><!-- End #products-tabs-content -->