<div id="products-tabs-content" class="row tab-content">
    {% if list_tovars_categ.all is defined %}
    <div class="tab-pane active" id="all">
        {% for tovar in tovars %}
            {% if search_str(tovar.lid,list_tovars_categ.all_prod) %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="../../../index.php">
                            <img src="{{ assets("images/products/item5.jpg") }}" alt="{{ tovar.name }}" class="item-image">
                            <img src="{{ assets("images/products/item5-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                        </a>
                    </figure>
                    <div class="item-price-container">
                        {% if tovar.old_price %}
                        <span class="old-price">{{ tovar.old_price }}<span class="sub-price">.99</span></span>
                        {% endif %}
                        <span class="item-price">{{ tovar.price }}<span class="sub-price">.99</span></span>
                    </div><!-- End .item-price-container -->
                    <span class="new-rect">New</span>
                    {% if  tovar.action  %}
                    <span class="discount-rect">-{{ tovar.action }}%</span>
                {% endif %}
                        </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="80"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="../../../index.php">{{ tovar.name }}</a></h3>
                    <div class="item-action">
                        <a href="#" class="item-add-btn">
                            <span class="icon-cart-text">Add to Cart</span>
                        </a>
                        <div class="item-action-inner">
                            <a href="#" class="icon-button icon-like">Favourite</a>
                            <a href="#" class="icon-button icon-compare">Checkout</a>
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        </div><!-- End .col-md-4 -->
            {% endif %}
        {% endfor %}
    </div><!-- End .tab-pane -->
    {% endif %}

    {% if tovar_latest is defined %}
    <div class="tab-pane" id="latest">
        {% for tovar in tovars %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="item item-hover">
                    <div class="item-image-wrapper">
                        <figure class="item-image-container">
                            <a href="../../../index.php">
                                <img src="{{ assets("images/products/item2.jpg") }}" alt="{{ tovar.name }}" class="item-image">
                                <img src="{{ assets("images/products/item5-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                            </a>
                        </figure>
                        <div class="item-price-container">
                            {% if tovar.old_price %}
                                <span class="old-price">{{ tovar.old_price }}<span class="sub-price">.99</span></span>
                            {% endif %}
                            <span class="item-price">{{ tovar.price }}<span class="sub-price">.99</span></span>
                        </div><!-- End .item-price-container -->
                        <span class="new-rect">New</span>
                        {% if  tovar.action  %}
                            <span class="discount-rect">-{{ tovar.action }}%</span>
                        {% endif %}
                    </div><!-- End .item-image-wrapper -->
                    <div class="item-meta-container">
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-result" data-result="80"></div>
                            </div><!-- End .ratings -->
                            <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                        </div><!-- End .rating-container -->
                        <h3 class="item-name"><a href="../../../index.php">{{ tovar.name }}</a></h3>
                        <div class="item-action">
                            <a href="#" class="item-add-btn">
                                <span class="icon-cart-text">Add to Cart</span>
                            </a>
                            <div class="item-action-inner">
                                <a href="#" class="icon-button icon-like">Favourite</a>
                                <a href="#" class="icon-button icon-compare">Checkout</a>
                            </div><!-- End .item-action-inner -->
                        </div><!-- End .item-action -->
                    </div><!-- End .item-meta-container -->
                </div><!-- End .item -->
            </div><!-- End .col-md-4 -->
        {% endfor %}
    </div><!-- End .tab-pane -->
    {% endif %}

    {% if list_tovars_categ.featured is defined %}
    <div class="tab-pane" id="featured">
        {% for tovar in tovars %}
        {% if search_str(tovar.lid,list_tovars_categ.featured) %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="item item-hover">
                    <div class="item-image-wrapper">
                        <figure class="item-image-container">
                            <a href="../../../index.php">
                                <img src="{{ assets("images/products/item1.jpg") }}" alt="{{ tovar.name }}" class="item-image">
                                <img src="{{ assets("images/products/item5-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                            </a>
                        </figure>
                        <div class="item-price-container">
                            {% if tovar.old_price %}
                                <span class="old-price">{{ tovar.old_price }}<span class="sub-price">.99</span></span>
                            {% endif %}
                            <span class="item-price">{{ tovar.price }}<span class="sub-price">.99</span></span>
                        </div><!-- End .item-price-container -->
                        <span class="new-rect">New</span>
                        {% if  tovar.action  %}
                            <span class="discount-rect">-{{ tovar.action }}%</span>
                        {% endif %}
                    </div><!-- End .item-image-wrapper -->
                    <div class="item-meta-container">
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-result" data-result="80"></div>
                            </div><!-- End .ratings -->
                            <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                        </div><!-- End .rating-container -->
                        <h3 class="item-name"><a href="../../../index.php">{{ tovar.name }}</a></h3>
                        <div class="item-action">
                            <a href="#" class="item-add-btn">
                                <span class="icon-cart-text">Add to Cart</span>
                            </a>
                            <div class="item-action-inner">
                                <a href="#" class="icon-button icon-like">Favourite</a>
                                <a href="#" class="icon-button icon-compare">Checkout</a>
                            </div><!-- End .item-action-inner -->
                        </div><!-- End .item-action -->
                    </div><!-- End .item-meta-container -->
                </div><!-- End .item -->
            </div><!-- End .col-md-4 -->
        {% endif %}
        {% endfor %}
    </div><!-- End .tab-pane -->
    {% endif %}

    {% if list_tovars_categ.best is defined %}
    <div class="tab-pane" id="bestsellers">
        {% for tovar in tovars %}
        {% if search_str(tovar.lid,list_tovars_categ.bestsellers) %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="item item-hover">
                    <div class="item-image-wrapper">
                        <figure class="item-image-container">
                            <a href="../../../index.php">
                                <img src="{{ assets("images/products/item5.jpg") }}" alt="{{ tovar.name }}" class="item-image">
                                <img src="{{ assets("images/products/item5-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                            </a>
                        </figure>
                        <div class="item-price-container">
                            {% if tovar.old_price %}
                                <span class="old-price">{{ tovar.old_price }}<span class="sub-price">.99</span></span>
                            {% endif %}
                            <span class="item-price">{{ tovar.price }}<span class="sub-price">.99</span></span>
                        </div><!-- End .item-price-container -->
                        <span class="new-rect">New</span>
                        {% if  tovar.action  %}
                            <span class="discount-rect">-{{ tovar.action }}%</span>
                        {% endif %}
                    </div><!-- End .item-image-wrapper -->
                    <div class="item-meta-container">
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-result" data-result="80"></div>
                            </div><!-- End .ratings -->
                            <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                        </div><!-- End .rating-container -->
                        <h3 class="item-name"><a href="../../../index.php">{{ tovar.name }}</a></h3>
                        <div class="item-action">
                            <a href="#" class="item-add-btn">
                                <span class="icon-cart-text">Add to Cart</span>
                            </a>
                            <div class="item-action-inner">
                                <a href="#" class="icon-button icon-like">Favourite</a>
                                <a href="#" class="icon-button icon-compare">Checkout</a>
                            </div><!-- End .item-action-inner -->
                        </div><!-- End .item-action -->
                    </div><!-- End .item-meta-container -->
                </div><!-- End .item -->
            </div><!-- End .col-md-4 -->
        {% endif %}
        {% endfor %}
    </div><!-- End .tab-pane -->
    {% endif %}

{% if list_tovars_categ.special is defined %}
    <div class="tab-pane" id="special">
        {% for tovar in tovars %}
            {% if search_str(tovar.lid,list_tovars_categ.special) %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="item item-hover">
                        <div class="item-image-wrapper">
                            <figure class="item-image-container">
                                <a href="../../../index.php">
                                    <img src="{{ assets("images/products/item5.jpg") }}" alt="{{ tovar.name }}" class="item-image">
                                    <img src="{{ assets("images/products/item5-hover.jpg") }}" alt="item1  Hover" class="item-image-hover">
                                </a>
                            </figure>
                            <div class="item-price-container">
                                {% if tovar.old_price %}
                                    <span class="old-price">{{ tovar.old_price }}<span class="sub-price">.99</span></span>
                                {% endif %}
                                <span class="item-price">{{ tovar.price }}<span class="sub-price">.99</span></span>
                            </div><!-- End .item-price-container -->
                            <span class="new-rect">New</span>
                            {% if  tovar.action  %}
                                <span class="discount-rect">-{{ tovar.action }}%</span>
                            {% endif %}
                        </div><!-- End .item-image-wrapper -->
                        <div class="item-meta-container">
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-result" data-result="80"></div>
                                </div><!-- End .ratings -->
                                <span class="ratings-amount">
                                                        5 Reviews
                                                    </span>
                            </div><!-- End .rating-container -->
                            <h3 class="item-name"><a href="../../../index.php">{{ tovar.name }}</a></h3>
                            <div class="item-action">
                                <a href="#" class="item-add-btn">
                                    <span class="icon-cart-text">Add to Cart</span>
                                </a>
                                <div class="item-action-inner">
                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                </div><!-- End .item-action-inner -->
                            </div><!-- End .item-action -->
                        </div><!-- End .item-meta-container -->
                    </div><!-- End .item -->
                </div><!-- End .col-md-4 -->
        {% endif %}
        {% endfor %}
    </div><!-- End .tab-pane -->
    {% endif %}
</div><!-- End #products-tabs-content -->