<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-12">
        <header class="content-title">
            <h2 class="title">{{ aboutSite.title }}</h2>
        </header>
        <p> {{ aboutSite.description }} <a href="{{ aboutSite.link }}">{{ aboutSite.label }}</a></p>
    </div><!-- End .col-md-7 -->
    <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="sm-margin visible-xs"></div><!-- space -->
        <img src="{{ assets("images/") }}/{{ aboutSite.img }}" alt="{{ aboutSite.title }}" class="img-responsive">
    </div><!-- End .col-md-5 -->
</div><!-- End .row -->